$ancho: 100%;

.footer {
    display: flex;
    justify-content: space-between;

    border-top-style: double; 

    width: $ancho;

    background-color: midnightblue;

    ul li {
        list-style: none;

        display: flex;
        justify-content: space-around;
        width: 30%;

        padding: 0;

        margin-right: 10px;
    }

    &__noneList {
        list-style: none;

        display: flex;
        justify-content: space-around;
        width: 30%;

        padding: 0;

        margin-right: 10px;
    }
}
