.onMain {
    height: 100vh;
    display: flex;

    &__aside {
        display: flex;
        height: fit-content;
    }

    &__container {
        display: flex;
        height: fit-content;

        height: 90%;
        align-items: flex-end;
    }
}

.onImg {
    width: 325px;
    margin-top: 10px;
}

.formClass {

    @extend.columnFlex;

    width: 100%;
    height: 75%;

    justify-content: space-evenly;

    &__buttonContainer {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;   
    }

    label {
        color: black;
        font-size: x-large;
    }
}

