$height: 100vh;

.colorFlexBackground {
    display: flex;
    flex-direction: column;

    height: $height;

    background-color: beige;
}

.onContainer {
    height: $height;
}

.galeriaMain {
    
    background-image: url('../imagenes/cancha-tenis.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    
    //background-color: gainsboro;
    height: $height;

    display: flex;
    align-items: center;
    justify-content: center;

    &__ulGaleria {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-content: center;

        height: 100%;
        max-width: 65%;
    }
    &__imgCard {
        height: 210px;
        margin: 10px;
    }
}

.galeriaImg {
   @include sizes(200px, 200px !important);

   border-color: brown !important;
}

.cardGaleria {
    padding: 15px;
}