$height: 100vh;

.colorFlexBackground {
    display: flex;
    flex-direction: column;

    height: $height;

    background-color: beige;
}

.onContainer {
    height: $height;
}

.galeriaMain {
    
    background-image: url('../imagenes/cancha-tenis.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    &__ulGaleria {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
        align-content: center;

        height: 100%;
        max-width: 60%;
    }
    &__imgCard {
        height: 210px;
    }
}

.galeriaImg {
   @include sizes(200px, 200px !important);

   border-color: brown !important;
}

.cardGaleria {
    padding: 15px;
}

@media only screen and (max-width: 750px) {
    .galeriaMain {


        &__ulGaleria {
            display: flex;

            justify-content: center;
            align-content: center;
            
            height: 100%;
            max-width: 80%;

            overflow: hidden;
    }

    &__imgCard {
        height: 210px;
    }
}
}