$ancho: 100%;

.header {
    background-color: midnightblue;

    display: flex;
    width: $ancho;

    position: sticky;

    &__title {
        color: gold;
        display: none;
    }

    &__menuClass {
        text-align: center;
        padding-top: 10px;
        width: $ancho;

        min-height: 45px;
    }

    #checkbox {
        display: none;
    }
    
    nav ul {
        list-style: none;
        font-size: 0;
        padding: 0;
    
        display: flex;
        justify-content: space-between;
    
        width: $ancho;
    
        margin: 0;

        border-bottom: none;

        li {
            display: inline-block;
            width: 20%;
            position: relative;
            font-size: 14px;

            :hover {
                color: gold;
            }
        }
    }
}

a {
    color: black;
    font-weight: bold;

    text-decoration: none;

    font-family: 'Roboto Slab';

    :hover {
        color: gold;
    }
}

#menuIcon {
    display: none !important;
}

@media only screen and (max-width: 450px) {
    .header {
        background-color: midnightblue;

        display: flex;
        width: $ancho;

        position: sticky;
        min-height: 40px;

        &__title {
            color: gold;
            
            width: 100%;

            display: flex;
            justify-content: flex-end;
            align-self: center;

            margin: 0;
            padding-right: 10px;
            
        }

        #menuIcon {
            display: flex !important;
            margin-left: 10px;
            align-self: center;
    
            pointer-events: none;

            color:white;
        }

        #checkbox {
            position: absolute;
            margin-left: 5px;
            align-self: center;
            display: flex;
    
            opacity: 0;
        }

        #checkbox:checked ~ nav {
            display: block !important;
            opacity: 1;
        }
    
        #checkbox:checked ~ nav ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;
    
            position: absolute;
    
            background-color:midnightblue;
    
            width: 40%;
    
            justify-content: center;
        }

        nav ul li {
            display: inline-block;
            width: 95%;
            position: relative;
            font-size: 15px;
        }

        &__menuClass {
            display: none;
        }
    }
}