.whyMainClass {
    @extend .columnFlex;
    
    align-self: center;

    &__whyTitles {
        color: gold;
        text-align: center;
    }

    &__content {
        text-align: center;
        padding: 10px;
    }
}

.onContainer {
    height: 100vh;
}

@media only screen and (max-width: 450px) {
    .onContainer {
        height: 100vh;
        overflow: auto;
    } 
}