.whyMainClass {
    @extend .columnFlex;
    
    align-self: center;

    &__whyTitles {
        color: gold;
        text-align: center;
    }

    &__content {
        text-align: center;
        padding: 10px;
    }

    &__divUlImg {
        display: flex;

        &__listClass {
            list-style-image: url("../imagenes/ball.jpg"); 

            margin-top: 15px;
            width: 100%;
          
          }

          &__imgContainer {
              width: 100%;
              height: auto;

              display: flex;
              align-items: center;
              //justify-content: center;
          }
        &__img {
            margin: 5px;

            @include sizes(230px, 260px);
        }
    }
}

.onContainer {
    height: 100vh;
}

@media only screen and (max-width: 1000px) {
    .onContainer {
        height: 100vh;
        overflow: auto;
    } 

    .whyMainClass {

        &__whyTitles {
            color: gold;
            text-align: center;

            width: 75%;
        }

        &__content {
            text-align: center;
            padding: 10px;

            width: 75%;
        }

        &__divUlImg {

            display: flex;
            width: 75%;

            &__imgContainer {
                display: none;
            }
        }
    }
}