@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@import "footer";
@import "header";
@import "inicio";
@import "torneo";
@import "galeria";
@import "whyTenis";
@import "formContacto";

.columnFlex {
    display: flex;
    flex-direction: column;
}

body {
    @extend .columnFlex;
    margin: 0px;
    height: 100vh;
}
