/*Clases definidas para la pagina de inicio */

/* Clases definidas para dar estilo al menu de la pagina, o header*/

.inicioBackground {
    background-image: url("imagenes/fondoInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 660px;
}

.logoImg {
    width: 55px;
}

.aPadding {
    padding: 3px;
}
.menuClass {
    text-align: center;
}

/* Clase para el menu principal (no el que esta en el header) */

.mainClass {
    height: 530px;
}
.verticalMenu {
    color: gold;
    
    font-size: xxx-large;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;

    padding-left: 5px;

}

.sectionContainer {
    height: 525px;
    padding-top: 65px;
}

.medidasSection {
    margin: 45px;
}

/* Clase para el footer */

.footer {
    padding-top: 30px;
    text-align: end;
}

.aFooter {
    font-size: larger;
    font-weight: bold;
    color: black;
}
/**************************************************************************/
/*Clases para la seccion torneo */

.torneoBackground {
    background-image: url("imagenes/torneoFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.torneoTitle {
    color: goldenrod;
}

.ballListClass {
    list-style-image: url("imagenes/ball.jpg");
}

/***************************************************************************/
/* Clases para la seccion reserva tu cancha, la primer clase la utilizo tambien en la galeria. */
.backgroundReservaSection {
    background-image: url("imagenes/polvo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.reservaTitles {
    color: gold;
}

.table {
    border-color: coral;
}

ol li {
    color: beige;
}

/****************************************************************************/
/* Clases para la seccion whyTenis */

.whyBackground {
    background-image: url("imagenes/whyTenisFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.whyTitles {
    color: gold;
}

.whyMainClass {
    margin-top: 120px;
}

p , h6 {
    color: greenyellow;
}
/********************************************************/
/* Clase para la galeria */

.galeriaImg {
    width: 200px;
    height: 200px;
}

.styleList {
    list-style: none;   
}

/*********************************************************/
/* Clase para el formulario de contacto */

.backgroundContacto {
    background-image: url("imagenes/fondoContacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 660px;
}
.marginTop {
    margin-top: 15px;
}

.mainMargin {
    margin-top: 135px;
    margin-left: 200px;
}

.footerContacto {
    padding-top: 200px;
    text-align: left;
}

label {
    color: black;
    font-size: x-large;
}
/* Clases definidas */

.footer ul li a{
    color: black;
  }

.onBackground {
    background-color: chocolate;
}

.text {
    color: beige;
}

.titles {
    color: gold;
}

/* Estilos para etiquetas*/

input, select {
    background-color: coral;
}

h2, h3,  h4 {
    color: goldenrod
}


/* Antepuse el div porque sino los li del footer recibian el mismo efecto, y es algo que no deseo. */
div ul li {
    color: beige;
}