/*Clases definidas para la pagina de inicio */

/* Clases definidas para dar estilo al menu de la pagina, o header*/

.beigeBackground {
    background-color: beige;
}

.logoImg {
    width: 55px;
}

.aPadding {
    padding: 3px;
}
.menuClass {
    text-align: center;
}

/* Estilo para el menu, con posibilidad de agregar sub menu a futuro*/
nav ul {
    list-style: none;
    font-size: 0;
}
nav ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    font-size: 14px;
}

a {
    color: black;
}

/* Clase para el menu principal (no el que esta en el header) */

.mainClass {
    height: 355px;
}
.verticalMenu {
    color: gold;
    
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;

    padding-left: 5px;

}

/* Clase para el footer */

.footer {
    text-align: end;
    border-top-style: double; /*Se agrego esta propiedad como requerimiento del desafio 6*/
}

.noneList {
    list-style: none;
}

.aFooter {
    font-size: larger;
    font-weight: bold;
    color: black;
}
/**************************************************************************/
/*Clases para la seccion torneo */

.torneoTitle {
    color: goldenrod;
}

.text {
    color: beige;
}
.ballListClass {
    list-style-image: url("imagenes/ball.jpg");
}

/***************************************************************************/
/* Clases para la seccion reserva tu cancha, la primer clase la utilizo tambien en la galeria. */

.reservaTitles {
    color: gold;
}

.table {
   margin: 15px;
}

ol li {
    color: beige;
}

/****************************************************************************/
/* Clases para la seccion whyTenis */

.whyTitles {
    color: gold;
}

p , h6 {
    color: greenyellow;
}
/********************************************************/
/* Clase para la galeria */

.galeriaImg {
    width: 200px;
    height: 200px;
}

.styleList {
    list-style: none;   
}

/*********************************************************/
/* Clase para el formulario de contacto */

.marginTop {
    margin-top: 15px;
}

.mainPadding {
    padding: 20px;
}

.footerContacto {
    padding-top: 200px;
    text-align: left;
}
input, select {
    background-color: coral;
}

label {
    color: black;
    font-size: x-large;
}
/****************************************************************/

.forestGreenBackground {
    background-color: forestgreen;
}