/*Clases definidas para la pagina de inicio */

/* Clases definidas para dar estilo al menu de la pagina, o header*/

.beigeBackground {
    background-color: beige;
}

.logoImg {
    width: 55px;
}

.menuClass {
    text-align: center;
}

.header {
    background-color: whitesmoke;
}
.colorFlexBackground {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: beige;
}
/* Estilo para el menu, con posibilidad de agregar sub menu a futuro*/
nav ul {
    list-style: none;
    font-size: 0;
}
nav ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    font-size: 14px;
}

a {
    color: black;
    font-weight: bold;
}

/* Clase para el menu principal (no el que esta en el header) */

.mainContainer {
    height: 100%;
}

.mainClass {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 100%;
    height: 100%;
}

.verticalMenu {
    color: gold;
    
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;

    padding-left: 5px;

}

/* Clase para el footer */

.footer {
    display: flex;
    justify-content: space-between;

    border-top-style: double; /*Se agrego esta propiedad como requerimiento del desafio 6*/

    width: 100%;
}

.noneList {
    list-style: none;
}

/**************************************************************************/
/*Clases para la seccion torneo */

.torneoTitle {
    color: goldenrod;
}

.text {
    color: beige;
}
.ballListClass {
    list-style-image: url("imagenes/ball.jpg");
}

/***************************************************************************/
/* Clases para la seccion reserva tu cancha, la primer clase la utilizo tambien en la galeria. */

.reservaTitles {
    color: gold;
}

.table {
   margin: 15px;
}

ol li {
    color: beige;
}

/****************************************************************************/
/* Clases para la seccion whyTenis */

.whyMainClass {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.whyTitles {
    color: gold;
}

p , h6 {
    color: greenyellow;
}
/********************************************************/
/* Clase para la galeria */

.galeriaMain {
    display: flex;
    align-self: center;
}
.galeriaImg {
    width: 200px;
    height: 200px;
}

.styleList {
    list-style: none;   
}

/*********************************************************/
/* Clase para el formulario de contacto */

.formClass {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 75%;

    justify-content: space-evenly;
}

label {
    color: black;
    font-size: x-large;
}
/****************************************************************/

.forestGreenBackground {
    background-color: forestgreen;
}

body {
    background-color: beige;
    margin: 0px;
}

.gridPrincipal {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;

    height: 100%;
    background-color: beige;
}

.canchaTenisGrid {
   display: grid;

   grid-template-areas: 
    "franjaDoblesFondoUp fondoIzq fondoDer franjaDoblesFondoUp"
    "franjaDoblesNet cuadradoSaqueIzquierdo cuadradoSaqueDerecho franjaDoblesNet"
    "net net net net"
    "franjaDoblesNet cuadradoSaqueIzquierdo cuadradoSaqueDerecho franjaDoblesNet"
    "franjaDoblesFondoDown fondoIzq fondoDer franjaDoblesFondoDown";

    grid-template-columns: 1fr repeat(2,3fr) 1fr;
    grid-template-rows: repeat(2,4fr) auto repeat(2,4fr);

    height:100%;
}

#franjaDoblesFondoUp {
    grid-area: "franjaDoblesFondo";

    border-color: white;
    border-style: solid;

    border-bottom: none;

    background-color:  rgba(235, 69, 9, 0.652);
}

#franjaDoblesFondoDown {
    grid-area: "franjaDobles";

    border-color: white;
    border-style: solid;

    border-top: none;

    background-color:  rgba(235, 69, 9, 0.652);
}

#cuadradoSaqueIzq {
    grid-area: "cuadradoSaqueIzquierdo";

    border-color: white;
    border-style: solid;

    background-color: rgba(235, 69, 9, 0.652);
}

#cuadradoSaqueDer {
    grid-area: "cuadradoSaqueDerecho";

    border-color: white;
    border-style: solid;

    background-color: rgba(235, 69, 9, 0.652);
}

#net {
    grid-area: "net";

    border-style: double;
    border-color: wheat;
}

#fondoIzq {
    grid-area: "fondoIzq";

    border-color: white;
    border-style: solid;
    

    border-right-style: none;

    background-color: rgba(235, 69, 9, 0.652);
}

#fondoDer {
    grid-area: "fondoDer";

    border-color: white;
    border-style: solid;

    border-left-style: none;

    background-color: rgba(235, 69, 9, 0.652);
}
/*
!!! Este codigo es simplemente el que paso Dario en la clase de grids, no darle importancia!!
#grilla {
  display: grid;
  grid-template-areas:
    "header  header     nav"
    "nav     productos  publicidad"
    "nav     servicios  publicidad"
    "nav     footer     footer";
  grid-template-rows: 100px 1fr 1fr 10%;
  grid-template-columns: 20% auto 15%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.border {
  border: 1px solid black;
}

  Personalizar areas 
 header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
  }
  section#productos {
    grid-area: productos;
  }
  section#servicios {
    grid-area: servicios;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: publicidad;
  }

*/
