/*Clases definidas para la pagina de inicio */

/* Clases definidas para dar estilo al menu de la pagina, o header*/

.beigeBackground {
    background-color: beige;
}

.logoImg {
    width: 55px;
}

.menuClass {
    text-align: center;
}

.header {
    background-color: whitesmoke;
}
.colorFlexBackground {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: beige;
}
/* Estilo para el menu, con posibilidad de agregar sub menu a futuro*/
nav ul {
    list-style: none;
    font-size: 0;
}
nav ul li {
    display: inline-block;
    width: 20%;
    position: relative;
    font-size: 14px;
}

a {
    color: black;
    font-weight: bold;
}

/* Clase para el menu principal (no el que esta en el header) */

.mainContainer {
    display: flex;
    height: 100%;
}

.mainClass {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 100%;
}

.verticalMenu {
    color: gold;
    
    font-size: 55px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;

    padding-left: 5px;

}

/* Clase para el footer */

.footer {
    display: flex;
    justify-content: space-between;

    border-top-style: double; /*Se agrego esta propiedad como requerimiento del desafio 6*/

    width: 100%;
}

.noneList {
    list-style: none;
}

/**************************************************************************/
/*Clases para la seccion torneo */

.torneoTitle {
    color: goldenrod;
}

.text {
    color: beige;
}
.ballListClass {
    list-style-image: url("imagenes/ball.jpg");
}

/***************************************************************************/
/* Clases para la seccion reserva tu cancha, la primer clase la utilizo tambien en la galeria. */

.reservaTitles {
    color: gold;
}

.table {
   margin: 15px;
}

ol li {
    color: beige;
}

/****************************************************************************/
/* Clases para la seccion whyTenis */

.whyMainClass {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.whyTitles {
    color: gold;
}

p , h6 {
    color: greenyellow;
}
/********************************************************/
/* Clase para la galeria */

.galeriaMain {
    display: flex;
    align-self: center;
}
.galeriaImg {
    width: 200px;
    height: 200px;
}

.styleList {
    list-style: none;   
}

/*********************************************************/
/* Clase para el formulario de contacto */

.formClass {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 75%;

    justify-content: space-evenly;
}

label {
    color: black;
    font-size: x-large;
}
/****************************************************************/

.forestGreenBackground {
    background-color: forestgreen;
}

body {
    margin: 0px;
}

.grid {
   display: grid;

   grid-template-columns: 50% 50%;
   grid-template-rows: 40% auto;

   grid-row-gap: 15px;
   grid-column-gap: 15px;
}

/*
!!! Este codigo es simplemente el que paso Dario en la clase de grids, no darle importancia!!
#grilla {
  display: grid;
  grid-template-areas:
    "header  header     nav"
    "nav     productos  publicidad"
    "nav     servicios  publicidad"
    "nav     footer     footer";
  grid-template-rows: 100px 1fr 1fr 10%;
  grid-template-columns: 20% auto 15%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.border {
  border: 1px solid black;
}

  Personalizar areas 
 header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
  }
  section#productos {
    grid-area: productos;
  }
  section#servicios {
    grid-area: servicios;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: publicidad;
  }

*/
