.title {
    color: goldenrod;
}

.text {
    color: beige;
}

.onBackground {
    background-color: chocolate;
}

h6 {
    color: yellowgreen;
}

/* Antepuse el div porque sino los li del footer recibian el mismo efecto, y es algo que no deseo. */
div ul li {
    color: beige;
}